<div class="card pt-3 ">
    <img src="<%= photo %>" alt="Card image" class="card-img-top">
    <div class="card-body">
      <a href="/reserver"><button type="button" class="btn btn-primary">Reserver <%= title %>  <%= roomnumber %></button></a>
    </div>
  </div>