<div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="Dashboard">
           <span class="icon">
            <ion-icon name="aperture-outline"></ion-icon>
           </span>
           <span class="icon">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/admin" >
           <span class="icon">
            <ion-icon name="stats-chart-outline"></ion-icon>
          </span>
           <span class="icon">status</span>
          </a>
        </li>

        <li>
          <a href="#">
           <span class="icon">
            <ion-icon name="card-outline"></ion-icon>
          </span>
           <span class="icon">paiements</span>
          </a>
        </li>

        <li>
          <a href="/NosSalle">
           <span class="icon">
            <ion-icon name="arrow-redo-circle-outline"></ion-icon>
          </span>
           <span class="icon">Nos salles </span>
        </a>
        </li>
        <li>
          <a href="/message" class="a_next">
           <span class="icon">
            <ion-icon name="help-outline"></ion-icon>
            </ion-icon>
          </span>
           <span class="icon">messages </span>
        </a>
        </li>

        <li>
          <a href="#">
           <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
            </ion-icon>
          </span>
           <span class="icon">settings</span>
        </a>
        </li>
        
       
        <li>
          <a href="#">
           <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
            </ion-icon>
          </span>
           <span class="icon">sign out</span>
        </a>
        </li>
      </ul>
    </div>
    
  </div>