
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-4 mb-0 text-muted">&copy; 2021 Simple Blog</p>
      <ul class="nav col-md-5 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link  btn-warning px-2 mx-1 ">Home</a></li>
          <li class="nav-item"><a href="/articles" class="nav-link  btn-warning mx-1 px-2 ">contact</a></li>
          <li class="nav-item"><a href="#" class="nav-link btn-warning px-2 mx-1 ">About us</a></li>
          <li class="nav-item"><a href="#" class="nav-link btn-warning px-2 mx-1 ">Galerie</a></li>
      </ul>
  </footer>
