<div class="bar">
    <div class="toggle">
      <ion-icon name="reorder-three-outline"></ion-icon>
    </div>

    <div class="search">

      <label>
        <input type="text" placeholder="search here">
        <ion-icon name="search-outline"></ion-icon>
      </label>

  </div>